[submodule "KernelSU"]
	path = KernelSU
	url = https://github.com/rsuntk/KernelSU
[submodule "misc/susfs"]
	path = misc/susfs
	url = https://gitlab.com/simonpunk/susfs4ksu
	branch = kernel-4.19
[submodule "KernelSU-Next"]
	path = KernelSU-Next
	url = https://github.com/rifsxd/KernelSU-Next
